:root {
  --dark: black;
  --light: white;
  --transparent: rgba(255, 255, 255, 0);
}

.App {
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0%;
  overflow-x: hidden;
  color: var(--dark);
}

body {
  padding-bottom: 85px;
}

.icons {
  padding-left: 10px;
  width: 70px;
  height: 70px;
}

.horizontal-slider {
  width: 10%;
  height: 40px;
  margin: auto;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: block;
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: rgb(0, 0, 0);
}

.horizontal-slider .example-track {
  top: 20px;
  height: 6px;
}

.horizontal-slider .example-thumb {
  top: 12px;
  width: 20px;
  outline: none;
  height: 20px;
  line-height: 38px;
}

#canvasContainer {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
  background-color: #282c34;
}

.Navbar.Brand {
  color: black;
}

.Container {
  width: 100vw;
}

.Navbar.Brand :hover {
  color: black;
}

#about {
  width: 100vw;
}

.navLink{
  text-decoration: none;
  color: red;
}

/* React uses link:hover as a current page link instead of normal hover behaviour, style this to show current page link*/
.navLink:hover {
  text-decoration: none;
  color: black;
}

form {
  background-color: var(--light);
  color: var(--dark);
  border-radius: 5px;
  height: 100%;
  padding: 10px;
}

.btn-dark {
  border: 2px solid var(--light);
  background-color: var(--transparent);
}

.btn-dark:hover {
  background-color: rgba(255, 255, 255, 0.171);
  border: 2px solid var(--transparent);
}

.form-btn {
  border: 2px solid grey;
  color: var(--dark);
  background-color: var(--transparent);
}

.form-btn:hover {
  border: 2px solid var(--transparent);
  background-color: var(--transparent);
  color: var(--dark);
}

#hamburgerIcon {
  font-size: 30px;
  color: var(--light);
}

.fa {
  font-size: 40px;
  padding: 5px;
}

footer {
  margin-top: 20px;
  background-color: rgb(0, 0, 0);
  border-top: 2px var(--light) solid;
  align-items: center;
  width: 100vw;
  padding-top: 10px;
}

.icon {
  font-size: 30px;
  color: var(--light);
}

footer a :hover {
  color: yellow;
}

.imageStyle {
  width:100%;
  height: 25%;
  object-fit: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  