:root {
  --dark: black;
  --light: white;
  --transparent: rgba(255, 255, 255, 0);
}

.App {
  text-align: center;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0%;
  overflow-x: hidden;
  background-blend-mode: color;
}

body {
  padding-bottom: 85px;
}

.icons {
  padding-left: 10px;
  width: 70px;
  height: 70px;
}

#canvasContainer {
  width: 100%;
  height: 50vh;
  border-radius: 20px;
}

.Navbar.Brand {
  color: black;
}

.Container {
  width: 100vw;
}

.Navbar.Brand:hover {
  color: black;
}

#about {
  width: 100vw;
}

.navLink{
  text-decoration: none;
  color: red;
}

/* React uses link:hover as a current page link instead of normal hover behaviour, style this to show current page link*/
.navLink:hover {
  text-decoration: none;
  color: black;
}

form {
  color: var(--dark);
  border-radius: 5px;
  height: 100%;
  padding: 10px;
}

.btn-primary {
  border: 2px solid black;
  background-color: var(--transparent);
  color: black;
  height: fit-content;
  width: 75%;
  margin: 10px;
}

.btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.171);
  border: 2px solid var(--transparent);
}

.form-btn {
  border: 2px solid grey;
  color: var(--dark);
  background-color: var(--transparent);
}

.form-btn:hover {
  border: 2px solid var(--transparent);
  background-color: var(--transparent);
  color: var(--dark);
}

.fab, .fas {
  font-size: 40px;
  padding: 5px;
  color: black;
}

p {
  font-size: 20px;
}

footer {
  margin-top: 20px;
  align-items: center;
  width: 100vw;
  padding-top: 10px;
}

footer a :hover {
  color: yellow;
}

.imageStyle {
  width:100%;
  height: 25%;
  object-fit: cover;
}